*, ::before, ::after, h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100dvh;
    width: 100%;
    background-color: rgba(28, 28, 28, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

input {
    margin-inline-end: 2px
}

label {
    margin-inline-end: 10px;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(213, 212, 216, 1);
}

.card {
    max-width: 550px;
    height: 550px;
    width: 100%;
    background-color: rgba(31, 41, 55, 1);
    padding-block: 16px;
    padding-inline: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__top {
    padding-block-end: 35px;
    border-bottom: 1px solid rgba(47, 62, 83, 1);
    width: 100%;
}

.card__header {
    font-family: Karla, sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -2.5%;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 1);
    margin-block-end: 10px;
}

.card__header--green {
    color: rgba(74, 223, 134, 1);
}

.card__details {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(213, 212, 216, 1);
    margin-block-end: 20px;
}

.card__form {
    margin-block-end: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card__form--title{
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

.card__button {
    background-color: rgba(16, 185, 129, 1);
    border: none;
    border-radius: 6px;
    display: inline-flex;
    padding-block: 9px;
    padding-inline-start: 15px;
    padding-inline-end: 17px;
    height: auto;
    width: auto;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
    letter-spacing: 0%;
    cursor: pointer;
}

.card__bottom {
    padding-block-start: 35px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
}

.card__password {
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    padding-block: 4px;
    padding-inline-start: 15px;
    padding-inline-end: 17px;
    height: 40px;
    width: 100%;
    background-color: rgba(39, 53, 73, 1);
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0%;
    color: rgba(85, 249, 145, 1);
}